@mixin flex($justify-content, $align-items)
  display: flex
  justify-content: $justify-content
  align-items: $align-items

#root

  nav
    background-color: #000304
    @include flex($justify-content: space-between, $align-items: center)
    padding: 20px 150px
    font-size: 17px
    color: #fff

    .logo
      width: 100px
      height: 30px
      margin-top: 4px

    .genre-links
      @include flex($justify-content: space-between, $align-items: center)
      list-style: none

      li
        margin-left: 20px
        a
          color: inherit
          position: relative
          text-decoration: none
          &::before
            content: ''
            position: absolute
            left: 50%
            bottom: 0
            width: 100%
            height: 2px
            background-color: #C90018
            transform-origin: center
            transform: translate(-50%, 0) scaleX(0)
            transition: transform 0.3s ease-in-out
          &:hover
            &::before
              transform: translate(-50%, 0) scaleX(1)

    .login-links
      @include flex($justify-content: space-between, $align-items: center)
      list-style: none

      li
        color: inherit
        cursor: pointer
        margin-left: 20px 
  
  main
    max-width: 1600px
    margin: 0 auto
    padding: 50px
    color: #fff

    .anime-list
      display: flex
      flex-wrap: wrap

      .anime
        display: flex
        flex-direction: column
        width: 225px
        height: 360px
        margin: 10px
        margin-top: 10px
        padding: 10px

        a
          color: inherit
          text-decoration: none
          margin-top: 5px
          &:hover
            text-decoration: underline            

        img
          width: 100%
          height: 100%
          object-fit: contain

  // Loading styles and animation
  svg
    width: 3.75em
    transform-origin: center
    animation: rotate 2s linear infinite
    position: absolute
    left: 50%

  circle
    fill: none
    stroke: #fc2f70
    stroke-width: 2
    stroke-dasharray: 1, 200
    stroke-dashoffset: 0
    stroke-linecap: round
    animation: dash 1.5s ease-in-out infinite  

  @keyframes rotate
    100%
      transform: rotate(360deg) 

  @keyframes dash
    0%
      stroke-dasharray: 1, 200
      stroke-dashoffset: 0
    
    50%
      stroke-dasharray: 90, 200
      stroke-dashoffset: -35px
    
    100%
      stroke-dashoffset: -125px
    
  
